/* estilos para la modulo asistencia */

.fondo-cards {
    background-color: #e6e7e9;
}

.fondo-table {
    background-color: #003260;
}

.fondo-table th {
    color: #ffff;
    text-align: center;
    font-weight: normal;
}

.fondo-table td {
    color: #ffff;
    text-align: center;
}

.bg-tr {
    background-color: #b4b6bc;
    color: #ffff;
}

.titulo_pregunta_1 {
    /* font-family: Quicksand; */
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    color: #03529c;
}

.checkbox-custom {
    position: relative;
}

.checkbox-custom input[type=checkbox] {
    display: none;
}

.checkbox-custom input[type=checkbox]~b {
    cursor: pointer;
    outline: 0;
    position: relative;
    display: inline-block;
    margin: -4px 1px 0;
    background-color: #ffffff;
    border: 1px solid #F49C24;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    line-height: 1;
    text-align: center;
    font-size: 20px;
    color: #F49C24;
    border-radius: 5px;
}

.checkbox-custom input[type=checkbox]:checked~b:after {
    content: '\2713';
    color: #28AECE;
}

.opcional {
    font-style: italic;
    color: red;
    font-size: 11px;
}

#tituloModal {
    font-weight: bold;
    text-align: center;
}

.dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}

.scroll-3a {
    max-height: 200px;
    overflow-y: auto;
}

.scroll-3b {
    max-height: 100px;
    overflow-y: auto;
}

.dr {
    float: right;
    font-weight: bold;
}

.c {
    float: center;
    font-weight: bold;
}

.d {
    float: right;
}

.anc {
    width: 100%;
}

.centrado {
    margin: 10px auto;
    display: block;
    width: 50px;
    height: 50px;
}

.centa {
    margin: 5px auto;
    display: block;
    width: 10px;
    height: 10px;
}


/* estilos modulo Docentes */

#tableDocentes thead {
    background-color: #003E78;
    font-size: 14px;
    text-align: center;
}

#tableDocentes tbody {
    font-size: 13px;
}

#tableDocentes tbody td {
    text-align: center;
    vertical-align: middle;
}

#tableDocentes .fa-eye {
    color: rgb(8, 51, 179);
}

#tableDocentes .fa-calendar-alt {
    color: rgb(8, 51, 179);
}

#tableDocentes .fa-trash-alt {
    color: rgb(236, 48, 48);
}

#tableURCT thead {
    background-color: #003E78;
    font-size: 16px;
    text-align: center;
}

#tableURCT tbody {
    font-size: 14px;
}

#tableURCT tbody td {
    text-align: center;
    vertical-align: middle;
}

#tableURCT .fa-address-book {
    color: rgb(7, 47, 133);
    font-size: 17px;
}

#divEntrada .foto,
#divEntrada .camara {
    margin-left: auto;
    margin-right: auto;
}

.fa-camera {
    color: rgb(8, 51, 179);
    margin-left: 5px;
    font-size: 20px;
    ;
}

.dangerito {
    color: rgb(231, 43, 43);
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}